<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width,initial-scale=1" />
  <title>My Clothing Store</title>
  <link href="https://fonts.googleapis.com/css?family=Inter" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Playfair+Display" rel="stylesheet">
  <link rel="stylesheet" type="text/css" href="styles.css">
  <link rel="stylesheet" type="text/css" href="stylesPart2.css">
</head>

<body>
  <header>
    <nav>
      <div class="logo">
        <a href="#">Clothing stylish</a>
      </div>
      <ul>
        <li><a href="#">Home</a></li>
        <li><a href="#">Shop</a></li>
        <li><a href="#">New Arrivals</a></li>
        <li><a href="#">Sale</a></li>
        <li><a href="#">Contact</a></li>
      </ul>
    </nav>
  </header>

  <main>
    <section class="buying">
      <div class="product-page">
        <div class="thumbnails">
          <img src="https://ke.jumia.is/unsafe/fit-in/680x680/filters:fill(white)/product/78/239716/1.jpg?3237"
            alt="Thumbnail 1">
          <img src="https://ke.jumia.is/unsafe/fit-in/680x680/filters:fill(white)/product/78/239716/1.jpg?3237"
            alt="Thumbnail 2">
          <img src="https://ke.jumia.is/unsafe/fit-in/680x680/filters:fill(white)/product/78/239716/1.jpg?3237"
            alt="Thumbnail 3">
        </div>
        <div class="main-image">
          <img src="https://ke.jumia.is/unsafe/fit-in/680x680/filters:fill(white)/product/78/239716/1.jpg?3237"
            alt="Main Product Image">
        </div>
      </div>

      <div class="Description">
        <div>
          <h2>Cool Shirt</h2>
          <blockquote>A completely new <span style="font-style: italic;"> experience</span> for buying trending clothing
          </blockquote>
        </div>
        <h2>$10</h2>
        <a href="#" class="btn">Shop Now</a>
      </div>
    </section>
  </main>
  <footer>
    <p>&copy; 2023 My Clothing Store. All rights reserved.</p>
  </footer>
</body>

</html>